<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Turismo</title>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header>
  <nav>
    <ul>
      <li><a href="/src/view/destinos.html">Destinos</a></li>
      <li><a href="/src/view/agencias.html">Agencias</a></li>
      <li><a href="/src/view/precios.html">Precios</a></li>
      <li><a href="/src/view/blog.html">Blog</a></li>
      <li><a href="/src/view/contacto.html">Contacto</a></li>
    </ul>
    <ul>
      <a href="/src/view/index.html"><img src="/img/logo.jpg" alt="Logo"></a>
    </ul>
  </nav>
</header>

<section class="hero">
  <video autoplay muted loop id="hero-video">
    <source src="/video/MEJORES PAISAJES de JUJUY, Argentina 🌈🎨.mp4" type="video/mp4">
  </video>
  <div class="texto">
    <h1>Descubrí nuevos destinos</h1>
  </div>
</section>  

<h1 style="display: flex; justify-content: center; padding: 20px;font-size: 40px; background-color: rgba(255, 255, 255, 0.8);">¿A donde iras hoy?</h1>

<section class="destinos">
  <article class="card" style="background: url(img/tilcara-pukara-052.jpg) center/cover;">Tilcara</article>
  <article class="card" style="background: url(img/la_quiaca.webp) center/cover;">La Quiaca</article>
  <article class="card" style="background: url(img/maimara.webp) center/cover;">Maimara</article>
  <article class="card" style="background: url(img/san_salvador.webp) center/cover;">San Salvador de Jujuy</article>
  <article style="background: url(img/monumento-icónico-los-héroes-de-la-independencia-conmemoración-las-batallas-por-humahuaca-en-el-cañón-quebrada-está-410572599.webp) center/cover;" class="card">Humahuaca</article>
</section>

<section class="contador">
  <h1>+500 visitantes</h1>
</section>

<section class="testimonios">
  <div class="carrusel">

    <div class="item">
      <p>"Recomendado 100%"</p>
      <h4>- Pedro</h4>
    </div>

    <div class="item">
      <p>"Muy buen servicio"</p>
      <h4>- Elizabeht</h4>
    </div>

    
    <div class="item">
      <p>"Excelente viaje!"</p>
      <h4>- jhon</h4>
    </div>

    <div class="item">
      <p>"Excelente viaje!"</p>
      <h4>- raul</h4>
    </div>

    <div class="item">
      <p>"Muy buen servicio"</p>
      <h4>- María</h4>
    </div>

    <div class="item">
      <p>"Recomendado 100%"</p>
      <h4>- Pedro</h4>
    </div>

  </div>
</section>

<footer>
  <h2>Suscribete a nuestro Newsletter</h2>
  <form class="formulario">
    <input type="email" placeholder="Tu email">
    <button>Suscribirse</button>
  </form>
  <section class="url">
    <a href="https://instagram.com" target="_blank"><img src="img/instagram.png" alt="Instagram"></a>
    <a href="https://facebook.com" target="_blank"><img src="img/facebook.png" alt="Facebook"></a>
    <a href="https://twitter.com" target="_blank"><img src="img/gorjeo.png" alt="Twitter"></a>
  </section>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1876050.5916084703!2d-66.11709616572838!3d-23.317875623277903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9404a1f6e75c0087%3A0x815e91b230ce4e79!2sJujuy!5e0!3m2!1ses!2sar!4v1776888535115!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</footer>

</body>
</html>